<main>
   <!--Square Pattern Start-->
   <div class="pattern-square"></div>
   <!--Square Pattern End-->

   <!--Pageheader start-->
   <section class="py-5 py-lg-8">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
               <div class="text-center">
                  <h1 class="mb-3">Recent Projects</h1>
                  <p class="mb-0">Explore some of our latest landscaping and tree service projects, highlighting our expertise and the quality of work delivered to our clients.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--Pageheader end-->

   <!--Recent Projects start-->
   <section class="mb-xl-9 my-4">
      <div class="container">
         <div class="row g-5">
            <!-- Project 1 -->
            <div class="col-lg-4 col-md-6 col-12">
               <div class="card border-0 h-100 card-lift">
                  <a href="#!"><img src="/static/images/landscaping/project1.jpg" alt="New Lawn Installation" class="img-fluid rounded-top-3" /></a>
                  <div class="card-body">
                     <div class="d-flex flex-column gap-2">
                        <div>
                           <img src="/static/images/landscaping/project-logo1.svg" alt="New Lawn Installation" />
                        </div>
                        <div class="d-flex flex-column gap-4">
                           <h4><a href="#!" class="text-reset">New Lawn Installation - Basking Ridge, NJ</a></h4>
                           <p>Transformed a barren backyard into a lush green space with new sod installation and irrigation system setup.</p>
                           <a href="#!" class="icon-link icon-link-hover">
                              View Project Details
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                 <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Project 2 -->
            <div class="col-lg-4 col-md-6 col-12">
               <div class="card border-0 h-100 card-lift">
                  <a href="#!"><img src="/static/images/landscaping/project2.jpg" alt="Tree Removal" class="img-fluid rounded-top-3" /></a>
                  <div class="card-body">
                     <div class="d-flex flex-column gap-2">
                        <div>
                           <img src="/static/images/landscaping/project-logo2.svg" alt="Tree Removal" />
                        </div>
                        <div class="d-flex flex-column gap-4">
                           <h4><a href="#!" class="text-reset">Tree Removal and Stump Grinding - Piscataway, NJ</a></h4>
                           <p>Safely removed an old oak tree that was posing a threat to a residential property, followed by complete stump grinding.</p>
                           <a href="#!" class="icon-link icon-link-hover">
                              View Project Details
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                 <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Project 3 -->
            <div class="col-lg-4 col-md-6 col-12">
               <div class="card border-0 h-100 card-lift">
                  <a href="#!"><img src="/static/images/landscaping/project3.jpg" alt="Drainage System" class="img-fluid rounded-top-3" /></a>
                  <div class="card-body">
                     <div class="d-flex flex-column gap-2">
                        <div>
                           <img src="/static/images/landscaping/project-logo3.svg" alt="Drainage System" />
                        </div>
                        <div class="d-flex flex-column gap-4">
                           <h4><a href="#!" class="text-reset">Drainage System Installation - Bridgewater, NJ</a></h4>
                           <p>Installed a comprehensive drainage system to resolve waterlogging issues and protect the foundation of a residential property.</p>
                           <a href="#!" class="icon-link icon-link-hover">
                              View Project Details
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                 <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Additional Projects Placeholder -->
            <!-- You can add more project cards here similar to the structure above -->

            <div class="col-lg-12">
               <div class="mt-xl-7 mt-3 text-center">
                  <a class="btn btn-outline-primary" href="#!">
                     <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                     <span class="ms-2">Load More Projects</span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--Recent Projects end-->
</main>
