/* Remove the caret from dropdown-toggle links */
.nav-link.dropdown-toggle::after,
.text-dark.dropdown-toggle::after {
    display: none !important;
}

.bold-links {
    font-weight: 600;
    font-size: 1rem;
}

/* General mobile adjustments */
@media (max-width: 768px) {
    .navbar-brand img {
        width: 220px; /* Adjust the width of the logo for smaller screens */
    }
}

/* Very small screens (e.g., phones) */
@media (max-width: 576px) {
    .navbar-brand img {
        width: 200px; /* Reduce the logo size further for very small screens */
    }
}

.top-bar .dropdown-menu {
    margin-top: 50px; /* Adjust this value as needed */
  }